body{
    background-color: rgb(254, 254, 252);
  }
  .col-sm-4{
      border-radius:35px;
      margin:0px;
      height: 180px;
      padding:0px;
      border:10px solid rgb(255, 255, 255);
      background-color:rgb(62, 203, 203);
  }